@use "./variables" as *;


section.about {
  background-color: $base-color;
  color: white;
  padding: 20px;
  min-width: $min-width;

  a {
    color: $primary-color;
  }

  h2,
  p {
    font-family: $font-stack;
  }
}