// body {
//   overflow: scroll;
// }

@media only screen and (orientation: portrait) {
  body {
    overflow: auto;
    height: 100vw;
    width: 100vh;
  }
  .App {
    transform-origin: top left;
    transform: rotate(90deg) translateY(-100vw);
    transition: all 0.1s;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
