@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

.parameter-display {
  display: block;
  margin: 0 auto;
  padding: 2px;
  width: 75px;
  height: 30px;
  line-height: 30px;
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  font-family: "Share Tech Mono", monospace;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5) inset;

  &.number{
    font-size: larger;
  }

  &.string{
    font-size: medium;
  }
}
