@import "variables";

header {
  display: flex;
  justify-content: space-around;
  background-color: #282c34;

  h1,
  a,
  small {
    font-family: "Share Tech Mono", monospace;
  }

  h1 {
    color: white;
    white-space: nowrap;
  }

  a {
    color: $primary-color;
  }

  nav {
    ul {
      display: flex;
      justify-content: center;

      li {
        list-style: none;
        padding: 10px;
      }
    }
  }

  div.logo {
    display: flex;
    justify-content: left;

    .react-logo {
      display: flex;
      align-items: center;

      small {
        white-space: nowrap;
        margin-left: 10px;
        color: white;
        margin-top: 10px;
      }

      img {
        height: 50%;
        margin: auto 0;
        animation: spin 10s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}