@import "variables";

header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: $base-color;
  min-width: $min-width;

  h1,
  a,
  small {
    font-family: "Share Tech Mono", monospace;
  }

  h1 {
    color: white;
    white-space: nowrap;
  }

  a {
    color: $primary-color;
  }

  nav {
    ul {
      display: flex;
      justify-content: center;
      padding: 0px;

      li {
        list-style: none;
        padding: 10px;

        img {
          height: 24px;
        }
      }
    }
  }

  div.logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .react-logo {
      display: flex;
      align-items: center;
      margin-right: -15px;

      @include for-size(phone-only) {
        display: none;
      }

      small {
        white-space: nowrap;
        margin-left: 10px;
        color: white;
        margin-top: 10px;
      }

      img {
        display: block;
        height: 50px;
        width: auto;
        margin: auto 0;
        animation: spin 10s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
