@use "./variables" as *;

.key {

  rect.black {
    fill: rgba(5, 5, 5, 0.9);
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
  }

  rect.white {
    fill: white;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
  }

  &:hover,&.hover {
    rect {
      fill: $primary-color;
      filter: drop-shadow(1px 1px 5px rgba($primary-color, 0.9));
    }

    text {
      fill: white;
      filter: drop-shadow(0px 0px 5px rgba(white, 0.5));
    }
  }

  text {
    cursor: default;
    fill: rgba(0, 0, 0, 0.2);
  }

  text,
  tspan {
    pointer-events: none;
  }
}
