@import "variables";

#synth {
  padding: 20px;
  min-width: $min-width;
  background-color: white;

  #synth-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    #toremolo-unit,
    #oscilloscope-unit,
    #global-unit {
      display: flex;
    }
  }
}
