@import "variables";

#synth {
  margin: 20px;

  #synth-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    #toremolo-unit,
    #oscilloscope-unit,
    #global-unit {
      display: flex;
    }
  }
}
