@use "./variables" as *;

#synth {
  padding: 20px;
  min-width: $min-width;
  background-color: white;

  #synth-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    #insert-fx-unit {
      display: flex;
      flex-direction: column;
      flex: 1;
      /* Take up remaining space if needed, or just fill height */
      height: 100%;
      min-height: 250px;
      /* Match InsertFxRack height roughly */
      margin-right: 20px;
    }

    #oscilloscope-unit {
      display: flex;
      flex: 1;
      /* Take up remaining space if needed, or just fill height */
      min-height: 250px;
      /* Match InsertFxRack height roughly */
      margin-right: 20px;
    }

    #global-unit {
      display: flex;
      align-items: flex-start;
    }

    #insert-fx-unit {
      flex: 1;
      min-width: 0;
      /* Important for flex child with overflow to work */
      margin-right: 20px;
    }
  }
}