@import "variables";

#synth {
  margin: 20px;

  #synth-controls {
    display: flex;
    justify-content: space-between;

    #toremolo-unit, #oscilloscope-unit {
      display: flex;
    }
    
  }

}