@use "./variables" as *;

#synth {
  padding: 20px;
  min-width: $min-width;
  background-color: white;

  #synth-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    #insert-fx-unit,
    #oscilloscope-unit,
    #global-unit {
      display: flex;
    }

    #insert-fx-unit {
      flex: 1;
    }
  }
}
