@import "variables";

header {
  display: flex;
  justify-content: center;
  background-color: #282c34;

  p {
    padding: 10px;
  }
  a,
  p {
    color: $primary-color;
  }

  .react-logo {
    display: flex;

    p {
      padding-right: 0;
      margin-right: 0;
      white-space: nowrap;
    }

    img {
      height: 50%;
      margin: auto 0;
      animation: spin 10s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
